include ../mixin/loading.pug
include ../mixin/alert.pug
doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="/css/styles.css")

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    block style
    
    
    
    link(rel="stylesheet" href="/css/custom.css")
    
  body
    div(class="root box-border")
        div(class="font-Hiragino ")
            
            include ../partials/header.pug
            +loading(false)
            +alert-all-web()

            div(class="add-div")
              block customdiv
            //div(id="map")
            //div(id="coords")
            div(class=`max-w-[184rem]  md:px-[5.6rem] lg:px-[6.4rem] xl:px-[10rem] p-[1rem] lg:p-[2rem_auto_2rem] w-full ` style=`background-color:${bgClient ? bgClient : 'white'}`)
              block main
            
            include ../partials/footer.pug
            script(src="/js/client/header.js")
            script(src="/js/client/search.js")
            script(src="/js/client/alert.js")
            script(src="/js/client/loading-web.js")
            block script 
    
