doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.16.13/antd.min.css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="css/custom.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
  body
    div(class="root box-border")
        div(class="font-Hiragino")
            include ../partials/header.pug
            div(class="max-w-[184rem] px-[1rem] md:px-[5.6rem] lg:px-[6.4rem] xl:px-[10rem] m-[2rem_auto] lg:m-[2rem_auto_5rem] w-full")
              block main
            include ../partials/footer.pug

            script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
            script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
            script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
            script(src="js/client/header.js")
            block script 
    
