include ../mixin/loading.pug
include ../mixin/alert.pug
doctype html
html
    head
        title= title
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="../css/styles.css")

        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)


        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")

        block style



        link(rel="stylesheet" href="../css/custom.css")

    body

        div(class="root box-border")
            div(class="font-Hiragino ")
                +loading(false)

                block main
                script(src="../js/client/alert.js")
                script(src="../js/client/loading-web.js")
                block script
        //script(src="/js/admins/showAlert.js")

