.active-blur div {
  display: block !important;
}
.ellipsis {
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.hidden-opacity {
  opacity: 0;
}
.item-main:hover .item-chirld {
  display: block;
}

.item-categories-active + .co-dropMenuCategory__menu_link {
  display: block !important;
}
.item-categories-active.co-dropMenuCategory__menu__title__item::after {
  transform: rotate(0deg);
}
.co-dropMenuCategory__menu__title__item::before {
  position: absolute;
  content: "";
  transition: all 0.3s ease;
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%20%3Cg%20transform%3D%22translate%28-346.525%20-1246%29%22%3E%20%3Cpath%20d%3D%22M12%2C.75H0A.75.75%2C0%2C0%2C1-.75%2C0%2C.75.75%2C0%2C0%2C1%2C0-.75H12a.75.75%2C0%2C0%2C1%2C.75.75A.75.75%2C0%2C0%2C1%2C12%2C.75Z%22%20transform%3D%22translate%28347.525%201253%29%22%20fill%3D%22%233c3c43%22%2F%3E%20%3C%2Fg%3E%20%3Crect%20width%3D%2214%22%20height%3D%2214%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 14px;
  right: 17px;
  width: 14px;
  top: 50%;
  transform: translateY(-50%);
}
.co-dropMenuCategory__menu__title__item::after {
  position: absolute;
  content: "";
  transition: all 0.3s ease;
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%20%3Cg%20transform%3D%22translate%28-346.525%20-1246%29%22%3E%20%3Cpath%20d%3D%22M12%2C.75H0A.75.75%2C0%2C0%2C1-.75%2C0%2C.75.75%2C0%2C0%2C1%2C0-.75H12a.75.75%2C0%2C0%2C1%2C.75.75A.75.75%2C0%2C0%2C1%2C12%2C.75Z%22%20transform%3D%22translate%28347.525%201253%29%22%20fill%3D%22%233c3c43%22%2F%3E%20%3C%2Fg%3E%20%3Crect%20width%3D%2214%22%20height%3D%2214%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 14px;
  right: 17px;
  width: 14px;
  top: calc(50% - 7px);
  transform: rotate(90deg);
}

.slick-prev:before,
.slick-next:before {
  color: #3c3c43;
  font-weight: 900;
  font-family: "Font Awesome 6 free";
  transition: all 0.3s ease;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #c6c6c6;
}
.slick-next:before {
  content: "\f054";
}
.slick-prev:before {
  content: "\f104";
}

//Đoạn này của
.slick-item__img {
  opacity: 0;
}
.slick-item__img:after,
.slick-item__img-index:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
}
.slick-box:hover .slick-item__img:hover:after {
  opacity: 0.1;
}

.slick-box:hover .slick-item__img-index:hover:after {
  opacity: 0.1;
}

.select2-container--default .select2-selection--single {
  border: none;
  background: #f2f2f2;
  padding: 0.75rem 1.25rem;
  height: 38px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 0.7rem;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3c3c43;
  color: #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #3c3c43;
}
.select2-container--default .select2-results__option--selected {
  background-color: #f9f9f9;
}
.select2-dropdown {
  border: 1px solid #dcdcdc;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 5px;
}
.select2-container--default
  .select2-search--dropdown
  .select2-search__field:focus-visible {
  outline: none;
}
.select2-results__option {
  padding: 1.3rem;
}

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 1rem;
  right: calc(92vw / 2);
  z-index: 9999;
  transition: all 0.2s;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }

  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
}

/* End Show Alert */

.dz-filename {
  display: none;
}
.dz-progress {
  display: none;
}
.dropzone .dz-preview:hover .dz-image img {
  filter: blur(0px);
}
.dz-default {
  display: none;
}
.dz-preview {
  display: inline-block;
}
.dz-size {
  display: none;
}
.dz-error-message {
  display: none !important;
}
.dropzone .dz-preview.dz-image-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dropzone .dz-preview .dz-remove {
  display: none;
  transition: all 0.3s ease;
}
.dropzone .dz-preview.dz-image-preview:hover .dz-remove {
  display: block;
  position: absolute;
  top: 40%;
  z-index: 999;
  color: #dd0c0c;
  font-weight: 900;
  font-size: 15px;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.dropzone .dz-preview .dz-image {
  border-radius: 10px;
}
.dropzone .dz-preview.dz-image-preview:hover img {
  filter: blur(1px);
}
.dropzone .dz-preview .dz-image img {
  border-radius: 10px;
}
.dropzone .dz-preview .dz-image img:hover {
  border-radius: 10px;
}
.dropzone .dz-image-preview {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3c3c43;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.timer_deal_process {
  width: 100%;
  height: 10px;
  background: #d5d5d5;
  line-height: 0;
  font-size: 0;
  margin: 5px 0;
  border-radius: 10px;
}

.timer_deal_process span {
  display: inline-block;
  height: 10px;
  background-color: #858585;
  background-size: 40px 40px;
  border-radius: 10px;
}

.progress_bar_fill {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
}

.block_percent_rate span.active,
.timer_deal_process span.active {
  -webkit-animation: progress_bar_fill 2s linear infinite;
  animation: progress_bar_fill 2s linear infinite;
}

@keyframes progress_bar_fill {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 40px 0;
  }
}

.image-container {
  position: relative;
}

.loading-image {
  display: none; /* Ẩn ảnh cho đến khi nó được tải xong */
}

.loader {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #686868;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

/* Hiệu ứng xoay */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.swiper-gallery {
}

.gallery-thumbs {
  box-sizing: border-box;
}

.gallery-thumbs .swiper-slide {
  height: auto;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.gallery-top .swiper-slide {
  background-size: cover;
  background-position: center;
}

//swiper-js

.swiper-button-disabled.swiper-button-next,
.swiper-button-disabled.swiper-button-prev {
  pointer-events: none; /* Ngăn không cho người dùng click */
}
.swiper-button-disabled {
  opacity: 0.3 !important; /* Độ mờ của nút */
  cursor: auto;
}

.no-stock {
  background-image: linear-gradient(
    to left top,
    transparent calc(50% - 1px),
    #c4c4c6 49.5%,
    #c4c4c6 50%,
    transparent 50.5%
  );
  color: #3c3c43;
  opacity: 0.5;
  cursor: not-allowed;
}
.no-stock-mobile {
  opacity: 0.5;
  cursor: not-allowed;
}
.size-select {
  border: 2px solid #3c3c43;
  padding: 0.8rem;
}

.description span,
.description p,
.description div {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  color: #3c3c43 !important;
}
/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3c3c43 #f5f5f5;
}

/* For WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3c3c43; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid #f5f5f5; /* Padding around the scrollbar thumb */
}

.bordewr-table-custom {
  border-left: 1px solid #d8d8d9;
  border-right: 3px solid #d8d8d9;
}
.convert-table {
  all: unset;
  display: revert;
  border-collapse: separate;
}

.description-comment {
  height: 7.2rem; /* Chiều cao ban đầu */
  overflow: hidden; /* Ẩn nội dung vượt quá chiều cao */
  transition: height 0.4s ease; /* Thay đổi chiều cao mượt mà với thời gian 0.5 giây */
}

html {
  scroll-behavior: smooth;
}
::selection {
  background-color: black; /* Màu nền khi chọn */
  color: white; /* Màu chữ khi chọn */
}

/* Đảm bảo rằng trên các trình duyệt Webkit (Chrome, Safari) cũng hoạt động */
::-moz-selection {
  background-color: black;
  color: white;
}
.color-no-stock {
  color: #e3e3e3 !important;
}
.description-comment2 {
  overflow: auto;
  transition: height 0.4s ease;
}
.description-comment3 {
  transition: height 0.2s ease;
}
/* Swiper container */

.StickyCartIn_modal {
  overscroll-behavior-y: contain;
  position: fixed;
  width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #3c3c43 #f5f5f5;
}
.StickyCartIn_modal:after {
  background: linear-gradient(180deg, transparent, #fff);
  bottom: 146px;
  content: "";
  display: block;
  height: 60px;
  pointer-events: none;
  position: fixed;
  width: 100%;
}
.ColorButton_Disable {
  background-color: #8c8c93;
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  top: 50%;

  width: 100%;
}
.rotate-left {
  transform: translate(-50%) rotate(135deg);
}

.SortButton_sortButton {
  border-radius: 4px 4px 0 0;
}
.modal-content {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 8px;
  padding: 0 12px;
  position: relative;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #3c3c43 #f5f5f5;
}
.checkbox__input[type="checkbox"] {
  background: #fff;
  border-radius: 4px;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  width: 20px;
  border: 1px solid #c4c4c6;

  cursor: pointer;
}

.checkbox__input[type="checkbox"]:checked {
  background: #3c3c43;
  border: 1px solid #3c3c43;
}
.checkbox__input[type="checkbox"]:checked::before {
  border-radius: 1px 0 0 1px;
  left: 4px;
  top: 11px;
  transform: rotate(45deg);
  width: 6px;
}
.checkbox__input[type="checkbox"]:checked::after {
  border-radius: 0 1px 1px 0;
  right: 2px;
  top: 9px;
  transform: rotate(-45deg);
  width: 12px;
}
.checkbox__input[type="checkbox"]:checked::after,
.checkbox__input[type="checkbox"]:checked::before {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
}

.color-check:has(.checkbox__input_color[type="checkbox"]:checked) {
  border: 1px solid #3c3c43;
}

.list-products .ProductLine:after {
  height: 100%;
  top: 0;
}
.ProductLine:after {
  background-color: #f5f5f5;
  content: "";
  height: calc(100% + 10px);
  position: absolute;
  right: -7px;
  top: -10px;
  width: 4px;
  z-index: 1;
}

.scroll-main::-webkit-scrollbar {
  width: 2px;
}

.scroll-main::-webkit-scrollbar-track {
  background: #f5f5f5;
  width: 2px;
}

.scroll-main::-webkit-scrollbar-thumb {
  background: #fdfdfd; /* Màu của thanh cuộn */
  width: 2px;
}

.scroll-main::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.shadow-custom {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.custom-checkbox-i:checked:after {
  position: absolute;
  display: table;
  border-right: none;
  border-bottom: none;
  border-image: initial;
  border-top: 0px;
  width: 100%;
  border-left: 0px;
  transform: none;
  opacity: 1;
  transition: none;
  content: " ";
  height: 100%;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2025%22%3E%20%3Cg%3E%20%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M10.55%2C16.83h0a.75.75%2C0%2C0%2C1-.53-.22L6.76%2C13.36a.77.77%2C0%2C0%2C1%2C0-1.07.75.75%2C0%2C0%2C1%2C1.06%2C0L10.55%2C15l6.63-6.63a.75.75%2C0%2C1%2C1%2C1.06%2C1.06l-7.16%2C7.16A.75.75%2C0%2C0%2C1%2C10.55%2C16.83Z%22%20%2F%3E%20%3Crect%20fill%3D%22none%22%20width%3D%2225%22%20height%3D%2225%22%20%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
}
