mixin alert-all-web()
    div(class="alert-client opacity-0 transition-opacity duration-500") 
        div(class="fixed z-[999999999] top-3 right-1/2 transform translate-x-1/2 alert")
            div(class="bg-main-400 text-white p-[1rem_1.6rem] rounded-md text-[1.4rem]")
                p(class="inner-text-alert")
