mixin button-one(text)
    div(class="button-one flex  justify-center items-center mb-[7.2rem] mt-[1.6rem] cursor-pointer")
        a(class="hover:text-main-500 button-one text-main text-center bg-[#f4eede] transition-all rounded-[0.4rem] inline-block min-w-[16rem]  w-full p-[0.8rem] md:p-[1.6rem_2.4rem]  md:min-w-[24rem] md:w-[24rem]")
            span(class="text-[1.6rem] font-bold leading-[1.6]") #{text}