mixin button-close()
    button(class="text-main inline-block absolute m-0 p-0 right-[0.6rem] h-[4.8rem] top-0 w-[4.8rem] z-10")
        <svg class="l-[calc(50%-7px)] absolute top-[50%] translate-y-[50%]"  width="14" height="14" viewBox="0 0 14 14" x="0" y="0"><line class="stroke-[#3c3c43] stroke-2" x1="0" y1="0" x2="14" y2="14"></line></svg>
        <svg class="l-[calc(50%-7px)] absolute top-[50%] translate-y-[50%]" width="14" height="14" viewBox="0 0 14 14" x="0" y="0"><line class="stroke-[#3c3c43] stroke-2" x1="14" y1="0" x2="0" y2="14"></line></svg>
