mixin crow(item,color="#3C3C43")
    span(class="relative inline-block h-full")
        svg(cla xmlns="http://www.w3.org/2000/svg", width="40", height="40", fill="none", class="SliderList_item__crown__XT2NB")
            g(clip-path="url(#40px_crown_2nd_svg__a)")
                path(fill=color, d="M37.092 11.554c-.785.175-1.425.785-1.686 1.541a2.31 2.31 0 0 0 .194 1.929c-5.069 6.222-14.248 4.168-14.635-4.517a2.376 2.376 0 0 0 1.27-2.849 2.32 2.32 0 0 0-1.609-1.57 2.372 2.372 0 0 0-3.024 2.278c0 .96.582 1.793 1.405 2.161-.397 8.665-9.576 10.72-14.635 4.497.31-.543.436-1.202.194-1.929-.252-.756-.901-1.367-1.686-1.541a2.36 2.36 0 0 0-2.908 2.297 2.36 2.36 0 0 0 2.355 2.355c.116 0 .223-.019.33-.029 1.105 1.58 5.428 9.101 5.883 18.309.01.213.184.388.397.388h22.05a.393.393 0 0 0 .397-.397c.165-8.868 4.769-16.69 5.893-18.299a1.89 1.89 0 0 0 .33.029 2.36 2.36 0 1 0-.552-4.652h.039z")
                
            defs
                clipPath(id="40px_crown_2nd_svg__a")
                    path(fill="#fff", d="M0 6h40v28.864H0z")
        span(class="font-Roboto text-white font-bold text-[1.2rem] absolute top-[65%] left-1/2 -translate-x-1/2 -translate-y-1/2 ") #{item}
