mixin password_mixin(label_c="", place="")
    div(class="flex items-center input-group border rounded-xl")
        div(class="input-prefix select-none")
            span(class="icon-user flex size-[5rem] p-[0.6rem_1.2rem]")
                img(src="../images/lock.svg" alt="icon")
        input(type="password" autocomplete="off" name=label_c id=label_c class="form-control outline-none w-full p-[0.7rem_1.8rem_0.7rem_0] text-[1.4rem]" placeholder=place required)
        div(class="select-none input-suffix cursor-pointer" onclick="togglePasswordVisibility(this)")
            span(class="icon-eye flex size-[5rem] p-[0.6rem_1.2rem]")
                img(src="../images/eye-off.svg" alt="icon")

    script.
        function togglePasswordVisibility(element) {
            const input = element.previousElementSibling; // lấy phần tử input mật khẩu
            const img = element.querySelector("img"); // lấy ảnh icon trong span

            if (input.type === "password") {
                input.type = "text";
                img.src = "../images/eye-on.svg"; // đổi icon sang eye-on
            } else {
                input.type = "password";
                img.src = "../images/eye-off.svg"; // đổi icon sang eye-off
            }
        }
