mixin process-bar()
    div(class="process-bar relative bg-white mt-[4rem] pb-[4rem] w-full")
        ul(class="p-0 max-w-[56rem] flex m-[2rem_auto] text-[1rem] sm:text-[1.2rem] md:text-[1.3rem] text-center")
            li(class="active process_bar  basis-1/4")
                div(class="flex  flex-col justify-center items-center")
                    span(class="") ショッピング
                    span(class="") カート
            li(class="process_bar   basis-1/4 ")
                div(class="flex flex-col justify-center items-center")
                    span(class="") ご注文
                    span(class="") 手続き
            li(class="process_bar basis-1/4")
                div(class="flex flex-col justify-center items-center")
                    span(class="") ご注文内容
                    span(class="") 確認
            li(class="process_bar basis-1/4")
                div(class="flex flex-col justify-center items-center")
                    span(class="") ご注文
                    span(class="") 完了