mixin product-ratting()
    div(class="product-rattings mt-[0.8rem] sm:mb-[0.8rem] lg:mb-0 flex items-center gap-3")
        div(class="flex items-center ")
            div(class="flex items-center gap-1")
                div(class="icon-star")
                    img(src="../images/star.svg" alt="star")
                div(class="icon-star")
                    img(src="../images/star.svg" alt="star")
                div(class="icon-star")
                    img(src="../images/star.svg" alt="star")
                div(class="icon-star")
                    img(src="../images/star.svg" alt="star")
                div(class="icon-star")
                    img(src="../images/star.svg" alt="star")
        div(class="ratting-score !font-Roboto")
            span(class="text-[2rem] text-main font-bold") 4.3
            span(class="text-[1.2rem] mx-[0.4rem] font-bold") /
            span(class="text-[1.2rem]  font-bold") 5
        a(class="font-bold hover:underline decoration-solid !font-Roboto text-[1.4rem]" href="#productReviews") ( 142件 )