include ./modal.pug
mixin shopping-guide(title="配送料について",label="",dest="詳しくはこちら",src="")
    div(class="shopping-guilde  lg:m-0")
        div(class="flex flex-col border-t border-b border-[#d8d8d9] bg-[#f5f5f5]")
            button(class="shopping-guilde__button-show flex items-center flex-row justify-between pl-[3rem] lg:pl-[1.5rem] p-[2rem_1.5rem]")
                div(class="")
                    span( class="font-bold text-[1.6rem]") #{title}
                div(class="")
                    img(class="button-cong" src="../images/cong.svg" alt="cong")
                    img(class="hidden button-tru" src="../images/tru.svg" alt="tru")
            div(class="shopping-guilde__content px-[3rem] h-[0] overflow-hidden transition-[height] duration-200")
                div(class="accordion-content pb-[2rem]")
                    if(label)
                        p(class="text-[1.4rem] mb-[0.8rem] text-main-400") #{label}
                    button(class="button-show-modal_guide text-[1.6rem] font-bold flex items-center gap-2 w-fit" )
                        span(class="") #{dest}
                        img(src="../images/copy1.svg" alt="copy")
            div(class="modal")
                +modal(title,src)

