mixin title-content(text)
    div(class="content__heading flex justify-start mb-[2.4rem] mt-[3.2rem]")
        h2(class="content__tab text-main text-[2.4rem] font-[700] leading-[3.6rem] text-left")
            div(class="") #{text}