extends ../../layout/default.pug
include ../../mixin/process-bar.pug
include ./user_setting.pug
include ../../mixin/password.pug
block style

block main
    div(class="edit-profile ")
        div(class=" p-[2rem] max-w-[50.2rem] w-full m-[1.5rem_auto] bg-[#f2f2f2] ")
            div(class="relative ")
                div(class="bg-white flex justify-center")
                    form(action="/my_page/change-password?_method=PATCH" class="w-full" method="POST" id="form-profile" )
                        div(class=" items-center p-[2rem_3.2rem] border-b-[1px] border-[#e5e5e5]")
                            h1(class="text-[1.9rem] font-bold mb-2") パスワード変更
                            if(messages.error)
                                p(class=" text-[1.2rem] text-erro text-[#7f0019] font-[500]") #{messages.error}
                            if(messages.success)
                                p(class="  text-[1.2rem] text-success text-[#cda845] font-[500]") #{messages.success}
                        div(class="p-[2rem_3.2rem]")
                            div(class="flex flex-col gap-4")
                                if(!isEmptyPassword)
                                    div(class="form-group ")
                                        label(class="text-[1.4rem] text-main-300 font-[300]") 現在のパスワード
                                        +password_mixin('current_password','現在のパスワード')

                                div(class="form-group ")
                                    label(class="text-[1.4rem] text-main-300 font-[300]") 新しいパスワード
                                    +password_mixin('new_password','新しいパスワード')

                                div(class="form-group ")
                                    label(class="text-[1.4rem] text-main-300 font-[300]") 新しいパスワード（確認）
                                    +password_mixin('confirm_password','新しいパスワードを再入力してください')

                                div(class="form-group ")
                                    button(type="submit" class="text-[1.3rem] block w-full btn bg-main text-white  p-4 rounded-3xl cursor-pointer hover:text-ellipsis") 保存

block script
    script(src="/js/client/change-password.js")