mixin search(value="")
    div(class="relative w-[30rem] search-item-box")
        div(class="p-3 absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none" )
            i(class="fa-solid fa-magnifying-glass")
        input(type="text" id="input-group-1" class="p-3 bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg block w-full ps-14 outline-none " placeholder="Search" value=value)
