mixin size()
    fieldset
        div(class="flex flex-row flex-wrap gap-5 list-size-products")
            div(class=" flex  items-center gap-3 bg-main-50 p-3 text-white rounded-md basic-4/12")
                input(type="checkbox" id="XS" name="size" value="XS" class="accent-main text-white cursor-pointer border-none")
                label(for="coding") XS           
            div(class="flex items-center gap-3 bg-main-50 p-3 text-white rounded-md basic-4/12" )
                input(type="checkbox" id="S" name="size" value="S" class="accent-main text-white cursor-pointer")
                label(for="S") S
            div(class="flex items-center gap-3 bg-main-50 p-3 text-white rounded-md basic-4/12" )
                input(type="checkbox" id="M" name="size" value="M" class="accent-main text-white cursor-pointer")
                label(for="M") M
            div(class="flex items-center gap-3 bg-main-50 p-3 text-white rounded-md basic-4/12" )
                input(type="checkbox" id="L" name="size" value="L" class="accent-main text-white cursor-pointer")
                label(for="L") L
            div(class="flex items-center gap-3 bg-main-50 p-3 text-white rounded-md basic-4/12" )
                input(type="checkbox" id="XL" name="size" value="XL" class="accent-main text-white cursor-pointer")
                label(for="XL") XL
            div(class="flex items-center gap-3 bg-main-50 p-3 text-white rounded-md basic-4/12" )
                input(type="checkbox" id="XXL" name="size" value="XXL" class="accent-main text-white cursor-pointer")
                label(for="XXL") XXL
            div(class="add-size-product cursor-pointer flex items-center gap-3 bg-main hover:bg-main-100 transition-all p-3 text-white rounded-md basic-4/12" ) Add Size

mixin size-edit(data)
    fieldset
        div(class="flex flex-row flex-wrap gap-5 list-size-products")
            each item in data
                div(class=" flex  items-center gap-3 bg-main-50 p-3 text-white rounded-md basic-4/12")
                    input(type="checkbox" id=item.size name="size" value=item.size class="accent-main text-white cursor-pointer border-none" checked)
                    label(for=item.size) #{item.size}
            div(class="add-size-product cursor-pointer flex items-center gap-3 bg-main hover:bg-main-100 transition-all p-3 text-white rounded-md basic-4/12" ) Add Size
            