doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{text}
    body 
        center
            h1 #{text}
        hr
        center #{new Date().toUTCString()} (VN/BC197_VN-Hanoi-Hanoi-24-cache-1)