footer(class='footer p-[4.8rem_2rem_2.4rem] lg:p-[4.8rem_6.4rem_2.4rem] bg-[#f0f2f5]')
    div(class="row__footer flex flex-col lg:flex-row mb-[3rem] text-[0.9rem] lg:text-[1.2rem]")
        div(class="logo-box flex flex-col basis-full lg:basis-[33.33%]")
            a(class="" href="/")
                img(src="/images/logo.png" class="w-[27%] lg:w-auto" alt="logo")
            ul(class="social-box  m-[7.5rem_0_0] items-center gap-6 hidden lg:flex")
                li(class="social-item w-[2.8rem] h-[2.9rem] flex items-center")
                    a(class="social-link" href="#")
                        img(src="../images/instagram.svg" alt="instagram")
                li(class="social-item w-[2.8rem] h-[2.9rem] flex items-center")
                    a(class="social-link" href="#")
                        img(src="../images/twitter.svg" alt="twitter")
                li(class="social-item w-[2.8rem] h-[2.9rem] flex items-center")
                    a(class="social-link" href="#")
                        img(src="../images/facebook.svg" alt="facebook")
                li(class="social-item w-[2.8rem] h-[2.9rem] flex items-center")
                    a(class="social-link" href="#")
                        img(src="../images/tiktok.svg" alt="tiktok")

        div(class="list_rows basis-full lg:basis-[16.666%]")
            div(class="list_row flex gap-3 lg:block")
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) 店舗情報
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) イベント
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) ローカルニッポン
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) GNOUD SUPPORT
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) GNOUD HOUSE VISION
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) お問い合わせ
        div(class="list_rows basis-full lg:basis-[16.666%]")
            div(class="list_row flex gap-3 lg:block")
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) 無印良品の家
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) Café&Meal GNOUD
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) キャンプ場
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) Found GNOUD
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) GNOUD BOOKS
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) GNOUD HOTEL
        div(class="list_rows basis-full lg:basis-[16.666%]")
            div(class="list_row flex gap-3 lg:block")
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) GNOUD passport
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) カタログ
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) GNOUD Card
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) GNOUD GIFT CARD
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) 法人のお客様へ
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) Tax-free Services
        div(class="list_rows basis-full lg:basis-[16.666%]")
            div(class="list_row flex gap-3 lg:block")
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) ニュースリリース
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) 採用情報
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) 無印良品メッセージ
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) 無印良品について
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) 株式会社　良品計画
                div(class="block lg:flex flex-1 justify-start mb-[1.2rem] ")
                    a(class="hover:text-main" href="#" ) 株式会社　良品計画2

    div(class="row_navigation flex justify-between items-center text-[0.9rem] lg:text-[1.2rem]")
        div(class="navigation hidden gap-7 lg:flex")
            div(class="")
                a(class="text-[1.2rem] text-main-200 leading-3 font-[300] hover:text-main-200 hover:underline transition-all" href="#") 日本
            div(class="")
                a(class="text-[1.2rem] text-main-200 leading-3 font-[300] hover:text-main-200 hover:underline transition-all" href="#") プライバシーポリシー
            div(class="")
                a(class="text-[1.2rem] text-main-200 leading-3 font-[300] hover:text-main-200 hover:underline transition-all" href="#") 外部送信ポリシー
            div(class="")
                a(class="text-[1.2rem] text-main-200 leading-3 font-[300] hover:text-main-200 hover:underline transition-all" href="#") 特定商取引法
            div(class="")
                a(class="text-[1.2rem] text-main-200 leading-3 font-[300] hover:text-main-200 hover:underline transition-all" href="#") サイトマップ
        div(class="navigation_icon")
            ul(class="social-box   items-center gap-4 flex lg:hidden")
                li(class="social-item w-[2.8rem] h-[2.9rem] flex items-center")
                    a(class="social-link" href="#")
                        img(src="../images/instagram.svg" alt="instagram")
                li(class="social-item w-[2.8rem] h-[2.9rem] flex items-center")
                    a(class="social-link" href="#")
                        img(src="../images/twitter.svg" alt="twitter")
                li(class="social-item w-[2.8rem] h-[2.9rem] flex items-center")
                    a(class="social-link" href="#")
                        img(src="../images/facebook.svg" alt="facebook")
                li(class="social-item w-[2.8rem] h-[2.9rem] flex items-center")
                    a(class="social-link" href="#")
                        img(src="../images/tiktok.svg" alt="tiktok")

        div(class="navigation_copyright")
            div(class="copy-right")
                p(class=" text-main-200 leading-3 font-[300] hover:text-main-200 transition-all") Copyright ©GNOUD. Ltd.

