include ../mixin/button-close.pug

include ../mixin/drop-menu-categories.pug
include ../mixin/search-menu.pug
include ../mixin/box-icon-menu.pug
//- đây cho mobile
div(class="search-modal-container hidden  bg-white transition-all  modal-custom")

    div(class="remodal-overlay fixed  bg-overview-close  w-full h-full bg-[#0000004d] animate-modalSlideIn z-[2000]  transition-all")
        div(class="remodal-wrapper fixed w-[90%] h-full z-[2001] bg-white")
            div(class="co-remodal bg-white relative text-left w-full ")
                div(class="modal_close flex items-center justify-between p-[2.7rem_6.333vw] ")
                    button(class="close-modal-button ")
                        i(class="")
                            <svg role="img" width="15" height="15"><g transform="translate(1 1)"><path d="M17152.219,17330.283l-5.469-5.471-5.471,5.471a.753.753,0,0,1-.529.217.75.75,0,0,1-.531-1.283l5.467-5.467-5.467-5.467a.752.752,0,0,1,1.061-1.066l5.471,5.469,5.469-5.469a.752.752,0,0,1,1.061,1.066l-5.467,5.467,5.467,5.467a.752.752,0,0,1-1.061,1.066Z" transform="translate(-17140.25 -17317.25)" fill="currentColor"></path></g><rect width="15" height="15" fill="none"></rect></svg>
                div(class="dropMenu_scroll max-h-[calc(100vh-7.1rem)] overflow-y-auto")
                    div(class="dropMenu flex flex-col")
                        div(class="dropMenu__01 " )
                            div(class="dropMenu_category max-w-full min-w-full  p-0 bg-white h-auto m-[0_auto]")
                                div(class="co-dropMenuCategory__container flex flex-col ")
                                    div(class="co-dropMenuCategory__01")
                                        +drop-menu-categories-mobile(dataCategories.dataCategorieClothes,"衣料品")
                                        +drop-menu-categories-mobile(dataCategories.dataCategorieHouseholdGoods,"生活雑貨")
                                        +drop-menu-categories-mobile(dataCategories.dataCategorieFood,"食品")
                                        p(class="text-[1.6rem] font-[700] leading-6 h-auto mb-0 mt-0 p-[1.5rem_2rem] text-main border-t border-[#e8e8e8] bg-white") 生活雑貨
                                        
//- đây cho desktop
header(class="border-b border-[#d9d9d9] relative z-[27]")

    div(class="")
        div(class="nav header flex flex-wrap items-center mx-auto  my-0    max-h-full  relative px-0 md:px-[56px] xl:flex-nowrap  xl:h-[7rem]  xl:flex-row xl:px-[10rem] xl:max-w-[184rem] xl:bg-white  xl:max-h-[120px]")
            div(class="nav__logo h-full flex gap-5  md:block  items-center mr-0 min-h-[5.1rem] p-[0_0_0] w-full xl:w-auto xl:mr-[5rem] xl:flex")
                div(class="nav__menu ml-[3.333vw] md:hidden md:ml-0")
                    button(class="button-category")
                        <svg width="18" height="15" viewBox="0 0 18 15"><path d="M22.536,20.54H6.464a.884.884,0,1,1,0-1.762H22.536a.884.884,0,1,1,0,1.762Zm0-6.119H6.464a.884.884,0,1,1,0-1.762H22.536a.884.884,0,1,1,0,1.762Zm0-6.119H6.464A.925.925,0,0,1,5.5,7.421a.925.925,0,0,1,.964-.881H22.536a.925.925,0,0,1,.964.881A.925.925,0,0,1,22.536,8.3Z" transform="translate(-5.5 -6.54)" fill="currentColor"></path></svg>
                a(href="/" class="block xl:flex items-center h-full w-auto justify-center" )
                    img(src="/images/logo.png" alt="logo" class=" h-auto w-[12.8rem]" loading="lazy")
            div(class="nav__categories  items-center max-w-[24rem] min-h-[6.9rem] min-w-[24rem]  w-full  h-full hidden  md:flex xl:max-w-[30rem]")
                ul(class="flex w-full  flex-row items-center h-full")
                    li(class="text-[1.6rem] leading-[2.4rem] font-bold text-main h-full max-w-[10rem] flex relative text-center w-full basis-1/3")
                        button(class="w-full" active="drop__01") 衣料品
                    li(class="text-[1.6rem] leading-[2.4rem] font-bold text-main h-full max-w-[10rem] flex relative text-center w-full basis-1/3")
                        button(class="w-full" active="drop__02") 生活雑貨
                    li(class="text-[1.6rem] leading-[2.4rem] font-bold text-main h-full max-w-[10rem] flex relative text-center w-full basis-1/3")
                        button(class="w-full" active="drop__03") 食品

            +search-menu(dataCategories.categoryAll,idSearch || 0,keyword || "")
            +box-icon-menu()


div(class="category-modal hidden")
    div(class="category-modal__content")
        div(class="category-modal__scroll")
            div(class="category-modal__dropdown max-w-[164rem] pl-[18.6rem] pr-[17.8rem] py-[5rem] my-0 mx-auto relative")
                div(class="category_container")
                    div(class="dropMenuCategory flex flex-row")
                        +drop-menu-categories(dataCategories.dataCategorieClothes,"drop__01")
                        +drop-menu-categories(dataCategories.dataCategorieHouseholdGoods,"drop__02")
                    
                            
                                
    
                    
                        div(class="dropMenuCategory__other basis-[20% border-l border-[#d9d9d9] pl-[2rem] ")
                            ul(class="dropMenuCategory__columnlist flex flex-row")
                                li(class="dropMenuCategory__columnlist__item  pr-[2rem]")
                                    dl(class="dropMenuCategory__menu__title text-main text-[1.5rem] font-bold leading-6 p-[0.5rem] mt-3") おすすめ情報
                                    dd(class="dropMenuCategory__menu_link mt-[1rem]")
                                        ul(class="dropMenuCategory__menu_linkList")
                                            li(class="dropMenuCategory__menu_linkList__item")
                                                a(href="/category/1" class="text-[1.3rem] font-[400] leading-6 px-[0.5rem] py-[0.8rem] block hover:bg-[#f5f5f5] hover:text-main") 特集1
                                            li(class="dropMenuCategory__menu_linkList__item")
                                                a(href="/category/2" class="text-[1.3rem] font-[400] leading-6 px-[0.5rem] py-[0.8rem] block hover:bg-[#f5f5f5] hover:text-main") 新商品
                                            li(class="dropMenuCategory__menu_linkList__item")
                                                a(href="/category/3" class="text-[1.3rem] font-[400] leading-6 px-[0.5rem] py-[0.8rem] block hover:bg-[#f5f5f5] hover:text-main") 読みもの
                                            li(class="dropMenuCategory__menu_linkList__item")
                                                a(href="/category/4" class="text-[1.3rem] font-[400] leading-6 px-[0.5rem] py-[0.8rem] block hover:bg-[#f5f5f5] hover:text-main") イベント
                                            li(class="dropMenuCategory__menu_linkList__item")
                                                a(href="/category/5" class="text-[1.3rem] font-[400] leading-6 px-[0.5rem] py-[0.8rem] block hover:bg-[#f5f5f5] hover:text-main") インテリアの相談オンライン予約
                                    dl(class="dropMenuCategory__menu__title text-main text-[1.5rem] font-bold leading-6 p-[0.5rem] mt-3") お買い得
                                    dd(class="dropMenuCategory__menu_link mt-[1rem]")
                                        ul(class="dropMenuCategory__menu_linkList")
                                            li(class="dropMenuCategory__menu_linkList__item")
                                                a(href="/category/1" class="text-[1.3rem] font-[400] leading-6 px-[0.5rem] py-[0.8rem] block hover:bg-[#f5f5f5] hover:text-main") まとめ買い
                                            li(class="dropMenuCategory__menu_linkList__item")
                                                a(href="/category/2" class="text-[1.3rem] font-[400] leading-6 px-[0.5rem] py-[0.8rem] block hover:bg-[#f5f5f5] hover:text-main") SALE
                                            li(class="dropMenuCategory__menu_linkList__item")
                                                a(href="/category/3" class="text-[1.3rem] font-[400] leading-6 px-[0.5rem] py-[0.8rem] block hover:bg-[#f5f5f5] hover:text-main") もったいない市
                                            
                    +button-close()
                    

        